autopep8==1.5.4
behave==1.2.6
environs==9.2.0
flake8==3.8.4
importlib-metadata==2.0.0
marshmallow==3.9.1
mccabe==0.6.1
parse==1.18.0
parse-type==0.5.2
pycodestyle==2.6.0
pyflakes==2.2.0
python-dotenv==0.15.0
rope==0.18.0
selenium==3.141.0
six==1.15.0
toml==0.10.2
urllib3==1.25.11
zipp==3.4.0
